.dropdown-toggle::after {
	display: none;
}
.dropdown-menu {
	margin-top: 30px;
}
.dropdown-menu-end {
	right: 0;
	left: auto;
}
.aHide {
	color: inherit;
	text-decoration: none;
}
.aHide:hover {
	text-decoration: underline;
	color: blue;
}
/* rimuove outline search della navbar */
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.cardBg {
	background: 
		radial-gradient(circle at top center, rgba(255, 255, 255, 0.6), transparent 50%),
		linear-gradient(to top, #0f1e2e, #2a4b75);
}
.detailsShadow {
	box-shadow: 
		0px 5px 15px rgba(0, 0, 0, 0.3),  /* ombra leggera lati */
		0px 10px 20px rgba(0, 0, 0, 0.5); /* ombra marcata bottom */
}
.controlsBg {
	background-color: red;
	border-radius: 10px;
}

@media (max-width: 576px) {
	.detailsCardImg {
		width: 90%;
	}
	.detailsCardName {
		width: 200px;
	}
	.detailsCardImgPacks {
		width: 100%;
	}
}

@media (min-width: 577px) and (max-width: 768px) {
	.detailsCardImg {
		width: 90%;
	}
	.detailsCardName {
		width: 200px;
	}
	.detailsCardImgPacks {
		width: 100%;
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.detailsCardImg {
		width: 90%;
	}
	.detailsCardName {
		width: 145px;
		height: 288px;
	}
	.detailsCardImgPacks {
		width: 100%;
	}
}

@media (min-width: 993px) {
	.detailsCardImg {
		width: 90%;
	}
	.detailsCardName {
		width: 180px;
		width: 150;
		height: 150px;
	}
	.detailsCardImgPacks {
		width: 100%;
	}
}
