
/* Per Open Packs */
.cascade-item-marketplace {
	opacity: 0;
	transform: translateY(20px);
	transition: all 0.5s ease;
}

.cascade-show-marketplace {
	opacity: 1;
	transform: translateY(0);
}

/* Per Collection */
.cascade-item-manageOrders {
	opacity: 0;
	transform: translateY(20px);
	transition: all 0.5s ease;
}

.cascade-show-manageOrders {
	opacity: 1;
	transform: translateY(0);
}

.cardBg {
	background: 
		radial-gradient(circle at top center, rgba(255, 255, 255, 0.6), transparent 50%),
		linear-gradient(to top, #0f1e2e, #2a4b75);
}

.invisible {
	display: none;
}

.d-block {
    visibility: visible;
    opacity: 1;
}
